# Build results
bin/
obj/
out/

# Visual Studio
.vs/
*.user
*.userosscache
*.suo
*.cache
*_i.c
*_p.c
*.ilk
*.ncb
*.opensdf
*.sdf
*.cachefile
*.dbmdl

project.lock.json
project.fragment.lock.json
artifacts/

*.log

*.nupkg
*.snupkg

packages/

*.nuget.props
*.nuget.targets

secrets.json

**/secrets.json
