name: Continuous Integration

on:
  push:
    branches: ['develop', 'main']
  pull_request:
    branches: ['develop', 'main']

jobs:
  continuous-integration:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore Dependencies
        run: dotnet restore backend/tMoney.WebApi/tMoney.WebApi.csproj

      - name: Build
        run: dotnet build backend/tMoney.WebApi/tMoney.WebApi.csproj --configuration Release --no-restore

      - name: Run Unit Test
        run: dotnet test backend/tMoney.UnitTests/tMoney.UnitTests.csproj --configuration Release